/* Coolors Exported Palette - coolors.co/0089ff-0582ca-2274a5-5bba6f-20bf55 */

/* HSL */
$color1: hsla(208%, 100%, 50%, 1);
$color2: hsla(202%, 95%, 41%, 1);
$color3: hsla(202%, 66%, 39%, 1);
$color4: hsla(133%, 41%, 54%, 1);
$color5: hsla(140%, 71%, 44%, 1);

/* RGB */
$color1: rgba(0, 137, 255, 1);
$color2: rgba(5, 130, 202, 1);
$color3: rgba(34, 116, 165, 1);
$color4: rgba(91, 186, 111, 1);
$color5: rgba(32, 191, 85, 1);